---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>pnarck.dev</title>
  </head>
  <body class="grid place-items-center h-screen bg-[#1d2021]">
    <h1
      class="text-2xl font-sans md:text-7xl font-extrabold bg-clip-text text-transparent
bg-[linear-gradient(to_right,#fabd2f,#fe8019,#fb4934,#d3869b,#8ec07c,#83a598,#b8bb26,#fabd2f)]
bg-[length:200%_auto] animate-gradient"
    >
      ://pnarck.dev
    </h1>
  </body>
</html>
